body{
	background:black;
}
/* DSEM提案公投文字颜色 */
.fontcolor1{
	background: linear-gradient(to left,rgb(52, 148, 230), rgb(236, 110, 173));
  	-webkit-background-clip: text;
  	color: transparent;
	}

/* 公投规则颜色 */
.fontcolor2{
	background: linear-gradient(to left,rgb(232, 203, 192), rgb(99, 111, 164));
  	-webkit-background-clip: text;
  	color: transparent;
}
/* 提交提案按钮颜色 */
.fontcolor3{
	color:#0b8793;
	border-width:0px;	/*边框透明*/
	outline:none;
	background:rgb(37,64,77);
}
.fontcolor4{
	color:skyblue;
	-webkit-background-clip: text;
	background:transparent;	/*按钮背景透明*/
		border-width:0px;	/*边框透明*/
		outline:none;	/*点击后没边框*/
}
.fontcolor4-4{
	color:rgb(37,64,77);
   -webkit-background-clip: text;
	background:transparent;	/*按钮背景透明*/
		border-width:0px;	/*边框透明*/
		outline:none;	/*点击后没边框*/
}
/* div内按钮颜色 */
.fontcolor5{
	border-width:0px;	/*边框透明*/
	outline:none;
	background:rgb(37,64,77);
}
/* 头部heco+菜单颜色 */
.fontcolor6{
	border-width:0px;	/*边框透明*/
	outline:none;
	background: linear-gradient(to left,rgb(232, 203, 192), rgb(99, 111, 164));
}
/* div内容颜色 */
.bgccolor{
	color:#0b8793;
	background:#0F2027;
}

